<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top 10 youtube</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
<img src =" images/menu.png" class="menu-icon">
<img src =" images/download.png" class="logo" width="40" 
height="30">
        </div>

        <div class="nav-middle flex-div">  
            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <img src="images/search.png">

            </div>
            <img src="images/voice-search.png" class="mic-icon">
        </div>

        <div class="nav-right flex-div">

            <img src =" images/more.png">
            <img src =" images/upload.png">
            <img src =" images/notification.png">
            <img src =" images/parakh.jpeg" class= "user-icon"width="40">

        </div>
    </nav>

<!---- sidebar -->

<div class="sidebar">
    <div class="shortcut-links">
        <a href=""><img src= "images/home.png"><p>HOME</p></a>
        <a href=""><img src= "images/explore.png"><p>TRENDING</p></a>
        <a href=""><img src= "images/subscriprion.png"><p>SUBSCRIPTIONS</p></a>
        <a href=""><img src= "images/library.png"><p>LIBRARY</p></a>
        <a href=""><img src= "images/english.jpeg"width="45"><p>ENLGLISH</p></a>
        <a href=""><img src= "images/hindi.jpeg" width="45"><p>HINDI</p></a>
        <a href=""><img src= "images/random.jpeg" width="45"><p>Random</p></a>
        <a href=""><img src= "images/show-more.png"><p>SHOW MORE</p></a>
      <hr>
    
    </div>
    <div class="subscribed-list">
        <h3>SUBCRIBED </h3>
        <a href=""><img src= "images/parakh.jpeg" width="40"><p>parakh gupta vlogs</p></a>
        <a href=""><img src= "images/haunting tube.jpeg" width="40"><p>haunting tube</p></a>
        <a href=""><img src= "images/citizen z.jpeg" width="40"><p>Citizen Z</p></a>
        <a href=""><img src= "images/zoro.to.jpeg" width="40"><p>Zoro.to</p></a>
        <a href=""><img src= "images/code with harry.jpeg" width="40"><p>Code With Harry</p></a>


    </div>
</div>
<!----------- main ----------->
<div class="container">
<div class="banner">
    <!--<img src="images/banner.png"> -->
     <div class="container-fluid">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="numbertext">1 / 8</div>
          <img src="images/img1.jpg" style="width:100%">
          <div class="text">japanese horror legend Koochisake onna</div>
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext">2 / 8</div>
          <img src="images/img2.webp" style="width:100%">
          <div class="text">Avatar 2</div>
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext">3 / 8</div>
          <img src="images/img3.jpg" style="width:100%">
          <div class="text">Terrifier 2</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 8</div>
            <img src="images/img4.jpg" style="width:100%">
            <div class="text">My Hero Academia Season 6 on air</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">5 / 8</div>
            <img src="images/img5.jpg" style="width:100%">
            <div class="text">Annabelle</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">6 / 8</div>
            <img src="images/img6.png" style="width:100%">
            <div class="text">Chainsaw Man Currently On Air</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">7 / 8</div>
            <img src="images/img7.jpg" style="width:100%">
            <div class="text">The Ring Movie's ghost</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">8 / 8</div>
            <img src="images/img8.jpg" style="width:100%">
            <div class="text">Naruto Shippuden, FYI naruto is comming back on 17 December</div>
          </div>
      
        <!---- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!---- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div> 

<div class="list-container">
    <div class="vid-list">
        <img src="images/thumbnail1.png" class="thumbnail">
        <div class="flex-div">
            <img src="images/parakh.jpeg" width="40">
            <div class="vid-info">
                <a href="">Lucknow Zoo Trip me scam hogya</a>
                <p>Parakh gupta Vlogs</p>
                <p>20k Views &bull; 1 month</p>
            </div>
        </div>
    </div> 
    <div class="vid-list">
      <img src="images/thumbnail2.png" class="thumbnail">
      <div class="flex-div">
          <img src="images/parakh.jpeg"  width="40">
          <div class="vid-info">
              <a href="">Lucknow Zoo Trip me scam hogya</a>
              <p>Parakh gupta Vlogs</p>
              <p>202k Views &bull; 2 month</p>
          </div>
      </div>
  </div> <div class="vid-list">
    <img src="images/thumbnail3.png" class="thumbnail">
    <div class="flex-div">
        <img src="images/parakh.jpeg"  width="40">
        <div class="vid-info">
            <a href="">Lucknow Zoo Trip me scam hogya</a>
            <p>Parakh gupta Vlogs</p>
            <p>208k Views &bull; 4 month</p>
        </div>
    </div>
</div> <div class="vid-list">
  <img src="images/thumbnail4.png" class="thumbnail">
  <div class="flex-div">
      <img src="images/parakh.jpeg"  width="40">
      <div class="vid-info">
          <a href="">Lucknow Zoo Trip me scam hogya</a>
          <p>Parakh gupta Vlogs</p>
          <p>990k Views  &bull;8 month</p>
      </div>
  </div>
</div> <div class="vid-list">
  <img src="images/thumbnail5.png" class="thumbnail">
  <div class="flex-div">
      <img src="images/parakh.jpeg" width="40">
      <div class="vid-info">
          <a href="">Lucknow Zoo Trip me scam hogya</a>
          <p>Parakh gupta Vlogs</p>
          <p>200k Views  &bull;9 month</p>
      </div>
  </div>
</div> 
<div class="vid-list">
  <img src="images/thumbnail6.png" class="thumbnail">
  <div class="flex-div">
      <img src="images/parakh.jpeg"  width="40">
      <div class="vid-info">
          <a href="">Lucknow Zoo Trip me scam hogya</a>
          <p>Parakh gupta Vlogs</p>
          <p>350k Views &bull; 2 days</p>
      </div>
  </div>
</div> 
<div class="vid-list">
  <img src="images/thumbnail7.png" class="thumbnail">
  <div class="flex-div">
      <img src="images/parakh.jpeg" width="40">
      <div class="vid-info">
          <a href="">Lucknow Zoo Trip me scam hogya</a>
          <p>Parakh gupta Vlogs</p>
          <p>10k Views&bull; 7 month</p>
      </div>
  </div>
</div> <div class="vid-list">
  <img src="images/thumbnail8.png" class="thumbnail">
  <div class="flex-div">
      <img src="images/parakh.jpeg" width="40">
      <div class="vid-info">
          <a href="">Lucknow Zoo Trip me scam hogya</a>
          <p>Parakh gupta Vlogs</p>
          <p>25k Views &bull; 3 month</p>
      </div>
  </div>
</div> 
</div>

</div>




<script src="js/script.js"></script>
</body>
</html>